   .pickListDetail_Options
   {
     
      font-weight:normal;
      width: 100%;
          
         
   }
   
   .pickListDetail_Test
   {
     border-spacing:0px; 
     margin:0px; 
     background-color:#dfe8f6; 
     border-color:#dfe8f6;      
   }
   
   .pickListDetail_Test_2
   {
    
     background-color:#dfe8f6;        
   }
   
   .lblMsg
   {
      margin-left:20px;
      font-style:italic;
      float : left;
	  font-size : 85%;
	  padding-top : .3em;
      width: 100%;
     
   }
   
   